---
layout: default
menu: R Packages
weight: 1
title: Packages
category: packages
permalink: /packages/
---

<h1 align="center">isoverse R Packages</h1>

{% assign current_packages = site.packages | where: "status", "current" | sort: "weight" %}
{% assign older_packages = site.packages | where: "status", "older" | sort: "weight" %}

<h2>Current</h2>
<p>
  These packages are actively developed and maintained. Please provide comments/suggestions and file bug reports or
  feature requests on <a href="https://github.com/isoverse">GitHub</a> or via our
  <a href="/feedback/">feedback form</a>.
</p>

{% for package in current_packages %}
{% include package.html package=package %}
{% endfor %}

<h2>Older</h2>
<p>
  These packages are no longer actively developed but remain available for reference and for existing data processing
  pipelines that depend on them.
</p>

{% for package in older_packages %}
{% include package.html package=package %}
{% endfor %}
